<div class="container">
  <div class="row">
    <div class="col m-9">
      <h3>Lista customer</h3>
    </div>
    <div class="col m-3">
      <button class="btn btn-primary" (click)="loadCustomers()">Refresh</button>
      <button class="btn btn-primary" (click)="createItem()">Create</button>
    </div>
  </div>
  <br />
  <app-table
    [showAction]="true"
    [sourceData]="customers"
    [hideColumns]="hideColumn"
    (editRowEvent)="onRowEdited($event)"
  >
  </app-table>
</div>

<ng-template #modal let-modal>
  <app-modal
    [title]="currentAction"
    (onCloseEvent)="closeModal()"
    (onSaveEvent)="save()"
  >
    <form [formGroup]="customerForm">
      <div>
        <label for="name">Name:</label>
        <input
          class="form-control"
          type="text"
          id="name"
          formControlName="name"
        />
      </div>

      <div>
        <label for="address">Address:</label>
        <input
          class="form-control"
          type="text"
          id="address"
          formControlName="address"
        />
      </div>

      <div>
        <label for="country">Country:</label>
        <input
          class="form-control"
          type="text"
          id="country"
          formControlName="country"
        />
      </div>

      <div>
        <label for="state">State:</label>
        <input
          class="form-control"
          type="text"
          id="state"
          formControlName="state"
        />
      </div>

      <div>
        <label for="subscriptionState">Subscription State:</label>
        <select
          class="form-control"
          id="subscriptionState"
          formControlName="subscriptionState"
        >
          <option value="0">New</option>
          <option value="1">Active</option>
          <option value="2">Suspended</option></select
        >`
      </div>
    </form>
    <br />
    <div *ngIf="currentAction?.toString() === 'UPDATE'">
      <h5>Invoices</h5>
      <app-table [sourceData]="invoices"> </app-table>
    </div>
  </app-modal>
</ng-template>
